html, body {
    font-family: 'Work Sans', sans-serif;
    background: #F9F9F9;
}

.f-fullwidth {
    width: 100%;
}

.f-card-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(210, 215, 213, 0.2);
    padding: 50px 60px;
    border-radius: 8px;
}